<h2>About <span class="scamper">Scamper</span></h2>

<p>Scamper is an independently owned and published online magazine that covers a variety of topics. Often they are what our authors are interested in at the time as well as current world news. We have a small team of three writers.
</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
